@import url("../styles/icons.css");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", "sans-serif";
  font-size: 13px;
}

h2 {
  color: black;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
}

h3 {
  color: black;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
}

button {
  height: 42px;
  width: 180px;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 14px;
}

.accordion-button, .accordion-header {
  width: 100%;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}
input:focus {
  outline: none;
}

nav {
  background-color: #0462BA;
  height: 64px;
  display: flex;
  align-items: center;
}
nav ul {
  height: 100%;
  display: flex;
  align-items: center;
}
nav ul li {
  height: 100%;
  width: 72px;
  margin-left: 17px;
  margin-right: 17px;
  border-bottom: 2px solid #0462BA;
  cursor: pointer;
}
nav ul li:hover {
  border-bottom: 2px solid white;
}
nav ul li:hover > a {
  font-weight: 700;
}
nav ul li.d-none {
  display: none;
}
nav ul li.li-regions {
  width: 110px;
}
nav ul li.li-logout {
  width: 50px;
}
nav a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a:hover {
  color: white;
}
nav .navbar-brand {
  font-size: 24px;
  color: white;
  font-weight: 700;
}

.title-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
  margin-bottom: 20px;
}
.title-content.section {
  margin-top: 7px;
}
.title-content.contacts {
  height: 42px;
}

.search-container {
  display: flex;
  justify-content: stretch;
  height: 41px;
  width: 42%;
}
.search-container input {
  flex-grow: 1;
  padding-left: 14px;
  padding-right: 14px;
}
.search-container .icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #0462BA;
  width: 41px;
  margin-left: 9px;
  cursor: pointer;
}
.search-container .icon-search, .search-container input {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3.5px;
}

.add-button {
  background-color: #0462BA;
  color: white;
}

.accordion-body {
  display: flex;
  flex-direction: column;
}
.accordion-body .add-button {
  align-self: flex-end;
}

.table {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.table.contact {
  margin-top: 75px;
}
.table .checkbox {
  height: 15px;
  width: 15px;
  margin: 0 auto;
}
.table-header, .table-row {
  height: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr 0.9fr 120px;
  justify-content: center;
  align-items: center;
}
.table-header.company, .table-row.company {
  grid-template-columns: 0.75fr 0.8fr 1fr 1fr 100px 120px;
}
.table-header.contact, .table-row.contact {
  grid-template-columns: 56px 1fr 1fr 1fr 1fr 1fr 100px;
}
.table-header > *, .table-row > * {
  height: inherit;
  display: flex;
  align-items: center;
}
.table-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.table-header .icon-exchange {
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  transform: rotate(90deg);
  margin: 0px;
  margin-left: 8px;
  padding: 0px;
}
.table-row.g-0 {
  border-bottom: none;
}
.table-row:nth-last-child(1) {
  border-bottom: none;
  border-bottom-color: none;
}
.table.row {
  height: 100%;
}
.table .actions {
  height: 100%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table .actions * {
  font-size: 18px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.table .actions .icon-mode_edit, .table .actions .icon-delete {
  display: none;
  font-size: 20px;
}
.table .actions .icon-dots-three-horizontal {
  padding: 0px;
}
.table-row:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.table-row:hover .position {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.table-row:hover .actions {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.table-row:hover .actions > * {
  display: flex;
}
.table-row:hover .actions > .icon-dots-three-horizontal {
  display: none;
}
.table span {
  font-weight: 500;
  padding-left: 16px;
}

.interest {
  padding-right: 16px;
}
.interest .percentage {
  width: 56px;
  text-align: right;
}
.interest .bar-bg {
  height: 8px;
  padding: 0px;
  border-radius: 4px;
  flex-grow: 4;
  background-color: #DDDDDD;
}
.interest .bar-bg .progress-25 {
  height: inherit;
  border-radius: inherit;
  width: 25%;
  background-color: #1CC1F5;
}
.interest .bar-bg .progress-50 {
  height: inherit;
  border-radius: inherit;
  width: 50%;
  background-color: #FFC700;
}
.interest .bar-bg .progress-75 {
  height: inherit;
  border-radius: inherit;
  width: 75%;
  background-color: #FF6F00;
}
.interest .bar-bg .progress-100 {
  height: inherit;
  border-radius: inherit;
  width: 100%;
  background-color: #DE0028;
}

input {
  outline: none;
}

.modal-user {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 100px;
  display: none;
  z-index: 3;
}
.modal-user.visible {
  display: block;
}
.modal-user > div, .modal-user > form {
  width: 85%;
  margin: 0 auto;
  border: none;
}

.modal-head {
  background-color: #0462BA;
  width: 85%;
  height: 140px;
  padding: 25px 48px;
  margin: 100px auto 0px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: -1;
}
.modal-head a, .modal-head h2 {
  font-size: 18px;
  font-weight: 700;
  color: white;
  margin: 0px;
}
.modal-head .icon-close {
  font-weight: 400;
}

.form-header {
  height: 130px;
  width: 95%;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 6.5px;
  border: 3px solid #0683F9;
  background-color: white;
  transform: translateY(-50%);
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  z-index: 3;
}
.form-header > * {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  width: 25%;
}
.form-header.row-5 > * {
  width: 20%;
}
.form-header input, .form-header select {
  margin: 10px 0px 2px;
  padding-left: 10px;
  padding-right: 15px;
  height: 35px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.form-content {
  background-color: white;
  padding: 100px calc(2.5% + 16px) 30px;
  position: relative;
  transform: translateY(-130px);
  min-height: 160px;
  display: flex;
  align-items: center;
}
.form-content > * {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}
.form-content input {
  margin: 10px 0px 2px;
  padding-left: 10px;
  padding-right: 15px;
  height: 35px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}
.form-content div {
  width: 25%;
}
.form-content .modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
  width: 50%;
  padding-right: calc(2.5% + 16px);
}
.form-content .modal-buttons button {
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  width: 180px;
  height: 42px;
}
.form-content .modal-buttons button.save {
  background-color: #2C902C;
  color: white;
  border-radius: 2px;
  width: 180px;
}
.form-content .modal-buttons button.delete {
  background-color: white;
  color: #C35454;
  width: auto;
}

.red-asterisk {
  color: red;
}

.error-msg {
  color: red;
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.error-msg.hidden {
  visibility: hidden;
}

.accordion-header {
  position: relative;
  display: flex;
  align-items: center;
}
.accordion-header .actions {
  height: 100%;
  width: 30px;
  padding: 0px;
  position: absolute;
  right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.accordion-header .actions.rm-button {
  right: 30px;
}
.accordion-header .actions * {
  font-size: 18px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.accordion-header .actions .icon-mode_edit, .accordion-header .actions .icon-delete {
  display: none;
}
.accordion-header .actions .icon-dots-three-horizontal {
  padding: 0px;
}
.accordion-header .actions:hover .icon-dots-three-horizontal {
  display: none;
}
.accordion-header .actions:hover .icon-mode_edit, .accordion-header .actions:hover .icon-delete {
  display: flex;
}
.accordion-header .actions:hover .icon-mode_edit {
  margin-left: 14px;
}
.accordion-header .accordion-button.rm-button::after {
  background-image: none;
}

/*# sourceMappingURL=styles.css.map */
