* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 13px;
}

h2 {
    color: black;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
}

button {
    height: 42px;
    width: 180px;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 14px;
}

.accordion-button, .accordion-header {
    width: 100%;
}

a {
    text-decoration: none;
}