@use 'variables';

.title-content {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
    margin-bottom: 20px;

    .add-button {
        background-color: variables.$blue-headers;
        color: white;
    }
}

.table {
    
    border: 1px solid variables.$gray-border-table;

    &-header,  &-row{
        height: 56px;
        display: grid;
        grid-template-columns: 1fr 1fr 1.2fr 0.9fr 120px;
        justify-content: center;
        align-items: center;

        > * {
            height: inherit;
            display: flex;
            align-items: center;
        }
    }

    &-header{
        border-bottom: 1px solid variables.$gray-border-table;

        .icon-exchange {
            display: inline-block;
            font-size: 10px;
            font-weight: 400;
            transform: rotate(90deg);
            margin: 0px;
            margin-left: 8px;
            padding: 0px;
        }
    }

    &-row:nth-last-child(1) {
        border-bottom: none;
    }

    &.row {
        height: 100%;
    }

    .actions {
        height: 100%;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        * {
            font-size: 18px;
            padding: 0px;
            color: variables.$gray-icons;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .icon-mode_edit,.icon-delete {
            display: none;
            font-size: 20px;
        }

        .icon-dots-three-horizontal {
            padding: 0px;
        }
    }

    &-row:hover {
        background-color: variables.$gray-row-hover;
        border-left: 1px solid variables.$gray-border-table-hover;
        border-right: 1px solid variables.$gray-border-table-hover;
        
        .position {
            border-left: 1px solid variables.$gray-border-table;
            border-right: 1px solid variables.$gray-border-table;
        }
        .actions {
            border-left: 1px solid variables.$gray-border-table;
        }
        .actions > * {
            display: flex;
        }
        .actions > .icon-dots-three-horizontal {
            display: none;
        }
    }

    span {
        font-weight: 500;
        padding-left: 16px
    }
}