@use 'variables';

.title-content {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
    margin-bottom: 20px;

    &.section {
        margin-top: 7px;
    }

    &.contacts {
        height: 42px;
    }
}

.search-container {

    display: flex;
    justify-content: stretch;
    height: 41px;
    width: 42%;

    input {
        flex-grow: 1;
        padding-left: 14px;
        padding-right: 14px;
    }

    .icon-search {
        display: flex;
        justify-content: center;
        align-items: center; 
        font-size: 24px;
        color: variables.$blue-headers;
        width: 41px;
        margin-left: 9px;
        cursor: pointer;
    }

    .icon-search, input {
        border: 1px solid rgba(0,0,0,0.25);
        border-radius: 3.5px;
    }
}

.add-button {
    background-color: variables.$blue-headers;
    color: white;
}

.accordion-body {
    display: flex;
    flex-direction: column;

    .add-button {
        align-self: flex-end;
    }
}

.table {
    
    border: 1px solid variables.$gray-border-table;

    &.contact {
        margin-top: 75px;
    }

    .checkbox {
        height: 15px;
        width: 15px;
        margin: 0 auto;
    }

    &-header,  &-row{
        height: 56px;
        display: grid;
        grid-template-columns: 1fr 1fr 1.2fr 0.9fr 120px;
        justify-content: center;
        align-items: center;
        
        &.company {
            grid-template-columns: 0.75fr 0.8fr 1fr 1fr 100px 120px;
        }

        &.contact {
            grid-template-columns: 56px 1fr 1fr 1fr 1fr 1fr 100px;
        }

        > * {
            height: inherit;
            display: flex;
            align-items: center;
        }
    }

    &-header{
        border-bottom: 1px solid variables.$gray-border-table;

        .icon-exchange {
            display: inline-block;
            font-size: 10px;
            font-weight: 400;
            transform: rotate(90deg);
            margin: 0px;
            margin-left: 8px;
            padding: 0px;
        }
    }

    &-row.g-0{
        border-bottom: none;
    }

    &-row:nth-last-child(1) {
        border-bottom: none;
        border-bottom-color: none;
    }

    &.row {
        height: 100%;
    }

    .actions {
        height: 100%;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        * {
            font-size: 18px;
            padding: 0px;
            color: variables.$gray-icons;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .icon-mode_edit,.icon-delete {
            display: none;
            font-size: 20px;
        }

        .icon-dots-three-horizontal {
            padding: 0px;
        }
    }

    &-row:hover {

        background-color: variables.$gray-row-hover;
        border-left: 1px solid variables.$gray-border-table-hover;
        border-right: 1px solid variables.$gray-border-table-hover;
        
        .position {
            border-left: 1px solid variables.$gray-border-table;
            border-right: 1px solid variables.$gray-border-table;
        }
        .actions {
            border-left: 1px solid variables.$gray-border-table;
        }
        .actions > * {
            display: flex;
        }
        .actions > .icon-dots-three-horizontal {
            display: none;
        }
    }

    span {
        font-weight: 500;
        padding-left: 16px
    }
}

.interest {

    padding-right: 16px;

    .percentage {
        width: 56px;
        text-align: right;
    }
    
    .bar-bg {
        height: 8px;
        padding: 0px;
        border-radius: 4px;
        flex-grow: 4;
        background-color: #DDDDDD;

        .progress-25 {
            height: inherit;
            border-radius: inherit;
            width: 25%;
            background-color: variables.$progress-25;
        }

        .progress-50 {
            height: inherit;
            border-radius: inherit;
            width: 50%;
            background-color: variables.$progress-50;
        }

        .progress-75 {
            height: inherit;
            border-radius: inherit;
            width: 75%;
            background-color: variables.$progress-75;
        }

        .progress-100 {
            height: inherit;
            border-radius: inherit;
            width: 100%;
            background-color: variables.$progress-100;
        }
    }

    
}

